# Exploración preliminar y transformación de datos

In [2]:
# Bibliotecas requeridas
import sys
sys.path.append('../scr/')

import loadAndTransformData as ltd
import viewDataFunctions as vdf


import pandas as pd
import os

In [3]:
# Carga de datos
data = ltd.cargar_csv('C:/Users/jpmog/Downloads/tu_(1)_2024_08_31.csv')

Archivo cargado correctamente.

In [4]:
data.shape

(152781, 11)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152781 entries, 0 to 152780
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   fecha                 152781 non-null  object
 1   codigo_factura        152781 non-null  int64
 2   mnt_total_a_pagar     152781 non-null  float64
 3   cant_items            152781 non-null  int64
 4   familia               152524 non-null  object
 5   categoria             152781 non-null  object
 6   subcategoria          152781 non-null  object
 7   codigo_producto       152781 non-null  float64
 8   cantidad_vendida      152781 non-null  float64
 9   venta_bruta_producto  152781 non-null  float64
 10  venta_neta_producto   152781 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 12.8+ MB

In [6]:
ltd.dividir_y_guardar_csv(data, 'fecha', 'mes', '../data/raw/', 'Minimarket_Sales_Data')

Archivo guardado: ../data/raw/Minimarket_Sales_Data_2024_01.csv
Archivo guardado: ../data/raw/Minimarket_Sales_Data_2024_02.csv
Archivo guardado: ../data/raw/Minimarket_Sales_Data_2024_03.csv

In [11]:
model_data_producto = ltd.pivotear_df(data, 'codigo_factura', 'codigo_producto')
model_data_familia = ltd.pivotear_df(data, 'codigo_factura', 'familia')
model_data_categoria = ltd.pivotear_df(data, 'codigo_factura', 'categoria')
model_data_subcategoria = ltd.pivotear_df(data, 'codigo_factura', 'subcategoria')

In [12]:
print(model_data_producto.shape, model_data_familia.shape, model_data_categoria.shape, model_data_subcategoria.shape)

(39482, 1089) (39225, 12) (39482, 32) (39482, 186)

In [13]:
ltd.guardar_csv(model_data_producto, '../data/processed/', 'Minimarket_Sales_Data_Transform_By_Product')
ltd.guardar_csv(model_data_familia, '../data/processed/', 'Minimarket_Sales_Data_Transform_By_Family')
ltd.guardar_csv(model_data_categoria, '../data/processed/', 'Minimarket_Sales_Data_Transform_By_Category')
ltd.guardar_csv(model_data_subcategoria, '../data/processed/', 'Minimarket_Sales_Data_Transform_By_Subcategory')

Archivo guardado exitosamente en: ../data/processed/Minimarket_Sales_Data_Transform_By_Product.csv
Archivo guardado exitosamente en: ../data/processed/Minimarket_Sales_Data_Transform_By_Family.csv
Archivo guardado exitosamente en: ../data/processed/Minimarket_Sales_Data_Transform_By_Category.csv
Archivo guardado exitosamente en: ../data/processed/Minimarket_Sales_Data_Transform_By_Subcategory.csv

In [17]:
data

,fecha,codigo_factura,mnt_total_a_pagar,cant_items,familia,categoria,subcategoria,codigo_producto,cantidad_vendida,venta_bruta_producto,venta_neta_producto
0,2024-03-01,2542191348,103760.0,21,Alimentos Sal,Galletería,Crackers,12000352.0,1.0,4490.0,3773.0
1,2024-03-01,2542191348,103760.0,21,Aseo,Aseo Hogar,Blanqueador,12000089.0,1.0,2800.0,2353.0
2,2024-03-01,2542191348,103760.0,21,Aseo,Aseo Hogar,Lavaplatos,12000231.0,3.0,8070.0,6782.0
3,2024-03-01,2542191348,103760.0,21,Aseo,Hogar,Tissue,12000175.0,1.0,2190.0,1840.0
4,2024-03-01,2542191348,103760.0,21,Aseo,Hogar,Cuidado Del Aire,12000570.0,1.0,5490.0,4613.0
...,...,...,...,...,...,...,...,...,...,...,...
152776,2024-03-01,2542191348,103760.0,21,Aseo,Hogar,Cuidado Del Aire,12003570.0,1.0,5990.0,5034.0
152777,2024-03-01,2542191348,103760.0,21,Alimentos Sal,Enlatados Y Envasados,Mar,12004370.0,2.0,9900.0,8319.0
152778,2024-03-01,2527515632,12970.0,3,Aseo,Aseo Personal,Femenina,12002481.0,1.0,8590.0,8590.0
152779,2024-03-01,2527515632,12970.0,3,Aseo,Aseo Personal,Femenina,12001739.0,1.0,3290.0,3290.0
152780,2024-03-01,2527515632,12970.0,3,Alimentos Dulces,Dulce,Otros,12002095.0,1.0,1090.0,916.0

In [19]:
data['fecha'].

<DatetimeArray>
['2024-03-01 00:00:00', '2024-02-01 00:00:00', '2024-01-01 00:00:00']
Length: 3, dtype: datetime64[ns]